<div class = "page-header">
<h1> Actor #<%=@id%> </h1>
</div>

<dl class = "dl-horizontal">
  
  <dt> Name </dt>
  <dd><%=@actor.name%></dd>

  <dt> Bio </dt>
  <dd><%=truncate(@actor.bio)%></dd>

  <dt> Dob </dt>  
  <dd><%=@actor.dob%></dd>

  <dt> Image </dt>
  <dd><img src="<%=@actor.image_url%>" width = "200"></dd>

</dl>

</tbody>
</table>