<div class = "page-header">
<h1> Director #<%=@id%> </h1>
</div>

<dl class = "dl-horizontal">
  <dt> Dob </dt>  
  <dd><%=@director.dob%></dd>
  
  <dt> Name </dt>
  <dd><%=@director.name%></dd>

  <dt> Bio </dt>
  <dd><%=truncate(@director.bio)%></dd>

  <dt> Image </dt>
  <dd><img src="<%=@director.image_url%>" width = "200"></dd>

</dl>


</tbody>
</table>